/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";
@import "partials/common";
@import "froala_editor.min";
@import "froala_style.min";

body {
  background: $gray-100;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: auto !important;
  height: 100%;
  font-size: 14px;
}

.content-wrapper {
  background: $white;
  min-height: 90vh !important;
}

.form-action {
  @extend .float-right;
}

.breadcrumb {
  padding: 0.2rem 1rem;
  box-shadow: inset 1px 0px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

.page-actions {
  padding-bottom: 20px;
  text-align: right;
}

a.page-action {
  @extend .btn, .btn-outline-dark, .btn-sm;
}

.left-nav {
  height: 85vh;
  .card-header {
    @extend .bg-dark;
    @extend .text-neon;
    font-weight: bold;
  }

  .nav-item {
    border-bottom: 1px solid $gray-300;
    .nav-link {
      color: $gray-600;
      @extend .ml-2;
      &:hover {
        color: $gray-900;
        & > .nav-link {
          background: $gray-500;
        }
      }
    }
  }
}