<div class="container-fluid mt-5 bg-dark pt-2 pb-2 text-white">
  <div class="row">
    <div class="col-12 text-center">
      <div class="copyright text-small">&COPY; 2019-2020 . ALPHA PIE PVT. LTD.</div>
    </div>
  </div>
</div>