<div class="c-navbar">
  <div class="c-navbar-head">
    <div class="c-navbar-brand"> <%= link_to "SHOPTER", "/store", :class => "text-muted text-no-decoration" %></div>
  </div>
  <div class="c-navbar-nav">
    <%= render 'layouts/userlayout_partials/navigation_links' %>
  </div>
</div>